.productpage{
  display: grid;
  grid-template-columns: 0.25fr 1fr;
  /* place-items: center; */
}
.product-container{
  display: flex;
  margin: 5px;
}
.filter-section{
  background-color: aliceblue;
  height: fit-content;
  margin-top: 1rem;
  margin-left: 1rem;
  border: 1px solid grey;
  border-radius: 5px;
  padding: 2rem;
}

@media screen and (max-width:780px) and (min-width:300px){
  .filter-section{
    display: none;
  }
  .product-container{
    display: flex;
    flex-wrap: wrap;
  }
}